<!-- public/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Vue App</title>
    
    <!-- Incluir Vue.js desde un CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
    <!-- Local -->
    <link rel="stylesheet" href="../public/css/estilo.css">
    <!-- Web -->
    <link rel="stylesheet" href="/css/estilo.css">

</head>
<body>
    <main id="app">
        <header>
            <h1>Libreta</h1>
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                                <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Contenido de Vue irá aquí -->
        <h1>{{ message }}</h1>
        <h1>{{ titulo }}</h1>

        <div class="modal" :class="{ show: isModalVisible }">
            <div class="modal-content">
                <p>Esta es una ventana modal</p>
                <button @click="closeModal">Cerrar</button>
            </div>
        </div>
    </main>

    <script>
        const SHOULD_SHOW_MODAL = true;
        // Crear una nueva instancia de Vue
        new Vue({
            // Indicar el elemento HTML donde se montará la instancia de Vue
            el: '#app',
            // Propiedades de la instancia de Vue
            data: {
                titulo: `<%= datosParaVue.titulo %>`,
                message: `<%= datosParaVue.mensaje %>`,
                isModalVisible: SHOULD_SHOW_MODAL
            },
            methods: {
                closeModal() {
                    this.isModalVisible = false;
                    localStorage.setItem('modalClosed', 'true');
                }
            }
        });
    </script>
</body>
</html>
