<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libreta</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    
    <!-- Local -->
    <link rel="stylesheet" href="../public/css/acceso.css">
    <link rel="stylesheet" href="../public/css/estilo.css">
    <!-- Web -->
    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="stylesheet" href="/css/acceso.css">

</head>
<body>
    
    <main id="app">
        <header>
            <h1>Libreta</h1>
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                                <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <section>
            <article id="modo">
                <button id="LogIn" type="button" @click="switchLogIn">LogIn</button>
                <button id="SignUp" class="modoAleternativo" type="button" @click="switchSignUp">SignUp</button>
            </article>
            <article>
                <form @submit="handleSubmit">
                    <div v-for="(input, index) in model" class="registro">
                        <label v-if="input.type !== 'submit'" :for="input.name">
                            {{ label(input.placeholder) }} 
                        </label>
                        <input
                            :type="input.type"
                            :name="input.name"
                            :id="input.name"
                            :value="input.value" 
                            v-model="input.value" 
                            :pass="input.pass || input.type === 'password'"
                            :placeholder="input.placeholder"
                            :requerido="input.required"
                        >
                        <div class="ojos" v-if="input.type === 'password' || input.pass != null">
                            <svg class="esconder" 
                                v-if="input.pass" 
                                @click="visivilidadPassword(index)" 
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M2 5.27L3.28 4L20 20.72L18.73 22l-3.08-3.08c-1.15.38-2.37.58-3.65.58c-5 0-9.27-3.11-11-7.5c.69-1.76 1.79-3.31 3.19-4.54zM12 9a3 3 0 0 1 3 3a3 3 0 0 1-.17 1L11 9.17A3 3 0 0 1 12 9m0-4.5c5 0 9.27 3.11 11 7.5a11.8 11.8 0 0 1-4 5.19l-1.42-1.43A9.86 9.86 0 0 0 20.82 12A9.82 9.82 0 0 0 12 6.5c-1.09 0-2.16.18-3.16.5L7.3 5.47c1.44-.62 3.03-.97 4.7-.97M3.18 12A9.82 9.82 0 0 0 12 17.5c.69 0 1.37-.07 2-.21L11.72 15A3.064 3.064 0 0 1 9 12.28L5.6 8.87c-.99.85-1.82 1.91-2.42 3.13"/>
                            </svg>
                            <svg class="mostrar" 
                                v-if="input.type === 'password' || !input.pass" 
                                @click="visivilidadPassword(index)" 
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M12 9a3 3 0 0 1 3 3a3 3 0 0 1-3 3a3 3 0 0 1-3-3a3 3 0 0 1 3-3m0-4.5c5 0 9.27 3.11 11 7.5c-1.73 4.39-6 7.5-11 7.5S2.73 16.39 1 12c1.73-4.39 6-7.5 11-7.5M3.18 12a9.821 9.821 0 0 0 17.64 0a9.821 9.821 0 0 0-17.64 0"/>
                            </svg>
                        </div>
                        <div v-if="input.required" class="requerido">*</div>
                    </div>
                    <button type="submit" :class="{'btn-moving': isMoving, 'btn-returning': isReturning}" :disabled="isSubmitting">
                        <svg v-if="!isSubmitted" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                            <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
                          </svg>
                        <svg 
                            v-if="isSubmitted"
                            xmlns="http://www.w3.org/2000/svg" 
                            width="16" 
                            height="16" 
                            fill="currentColor" 
                            class="bi bi-send-check-fill" 
                            viewBox="0 0 16 16">
                                <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 1.59 2.498C8 14 8 13 8 12.5a4.5 4.5 0 0 1 5.026-4.47zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
                                <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686"/>
                          </svg>
                    </button>
                </form>
            </article>
            
            
           




        </section>


    </main>

    <script>
        let vue = new Vue({
            el: '#app',
            data: {
                LogIn: document.querySelector('#LogIn'),
                SignUp: document.querySelector('#SignUp'),
                modelLogIn: [
                    {name: 'name', type: "text", value: `<%= log.nombre %>`, placeholder: 'Name', required: true},
                    {name: 'password', type: "password", pass: false, placeholder: 'Password', required: true},
                ],
                modelSignUp: [
                    {name: 'name', type: "text", value: `<%= log.nombre %>`, placeholder: 'Name', required: true},
                    {name: 'email', type: "email", value: `<%= log.email %>`, placeholder: 'Email', required: true},
                    {name: 'password', type: "password", pass: false, placeholder: 'Password', required: true},
                    {name: 'passwordConf', type: "password", pass: false, placeholder: 'Repeat Password', required: true},
                ],
                model: [],
                isMoving: false,
                isReturning: false,
                isSubmitting: false,
                isSubmitted: false
            },
            created() {
                this.model = this.modelLogIn;
            },
            methods: {
                switchLogIn(){
                    this.model = this.modelLogIn;
                    SignUp.classList.add('modoAleternativo');
                    LogIn.classList.remove('modoAleternativo');
                },
                switchSignUp(){
                    this.model = this.modelSignUp;
                    LogIn.classList.add('modoAleternativo');
                    SignUp.classList.remove('modoAleternativo');
                },
                label(placeholder) {
                    return placeholder + ':';
                },
                visivilidadPassword(index) {
                    this.model[index].type = this.model[index].type === 'password' ? 'text' : 'password';
                    this.model[index].pass = this.model[index].type === 'password' ? false : true;
                },
                validateForm() {
                    return this.model.every(input => input.required ? input.value.trim() !== '' : true);
                },
                handleSubmit(event) {
                    event.preventDefault();
                    if (this.validateForm()) {
                        this.isSubmitting = true;
                        this.isMoving = true;
                        setTimeout(() => {
                            this.isMoving = false;
                            this.isReturning = true;
                            this.isSubmitted = true;
                            setTimeout(() => {
                                this.blockScroll();
                                this.isReturning = false;
                                this.isSubmitting = false;
                                this.unblockScroll();
                            }, 500);
                        }, 500);
                    }
                },
                blockScroll() {
                    // document.body.style.overflowY = 'hidden';
                    // document.body.style.scrollbar = 'hidden';
                    // document.body.style.scrollbarWidth = '0';

                },
                unblockScroll() {
                    // document.body.style.overflowY = '';
                    // document.body.style.scrollbarWidth = '';
                }
            }
        });
    </script>
    
    
</body>
</html>