:root{
    --color-seleccion: #007bff;
    --color-primario: #737373;
    --color-secundario: #3c3c3c;
    --texto: white;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: var(--color-primario);
    margin: 0;
    padding: 0;
}

main{
    height: 100%;
    display: flex;
    background-color: var(--color-primario);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    header{
        width: 100%;
        padding: 10px;
        background-color: var(--color-secundario);
        color: var(--texto);

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        
        
        
        h1{
            margin: 0;
        }

        nav{
            

            ul{
                list-style: none;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                padding: 0;
                margin: 0;
                li{
                    text-align: center;
                    margin: 5px;
                    transition: all 0.3s;
                    a button{
                        background: none;
                        border: none;
                        padding: 5px 10px;
                        i{
                            text-decoration: none;
                            font-size: 20px;
                            color: var(--texto);
                            transition: all 0.3s;
                        }
                    }

                    a:hover button i{
                        color: var(--color-seleccion);
                    }
                }

                li:hover{
                    transform: scale(1.5);
                }
            }
        }

    }
}