body{
    background-color: #737373;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    background-color: #737373;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    header{
        width: 100%;
        padding: 10px;
        background-color: #3c3c3c;
        color: white;

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        
        
        
        h1{
            margin: 0;
        }

        nav{
            

            ul{
                list-style: none;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                padding: 0;
                margin: 0;
                li{
                    text-align: center;
                    a{
                        text-decoration: none;
                        color: white;
                        transition: all 0.3s;
                    }

                    a:hover{
                        color: #007bff;
                    }
                }
            }
        }

    }
}