<header>
    <h1>Libreta</h1>
    <nav>
        <ul>
            <li>
                <a href="/">
                    <button id="home" type="button">
                        <i class="bi bi-house-fill"></i>
                    </button>
                </a>
            </li>
            <li>
                <a href="#">
                    <button id="menu" type="button">
                        <i class="bi bi-list"></i>
                    </button>
                </a>
            </li>
        </ul>
    </nav>
</header>